/* this stylesheet contains the style for the main page*/
.skip-nav{
    color: #0000ff;
    font-weight: bold;
    text-decoration: none;
}
section{
    padding: 5px;
}
img{
    border-radius: 15px;
    width: 100%;
    height: 90vh;
    max-height: 870px;
    min-width: 400px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
  
.overlay:hover {
    opacity: 1;
}

.text {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
table{
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
}
td{
    padding: 10px 10px;
}
tr:hover {
    background-color: #ff4400;
}
.content{
    background-color: #00d9ff;
    padding: 10px 10px;
    border-radius: 15px;
}
.content hr{
    background-color: #ff0000;
    height: 2px;
}
.content .navi-area{
    background-color: #6495ed;
    padding: 2px 2px;
    border-radius: 8px;
}
.content .navi-area h1{
    text-align: center;
    font-size: 35px;
}
.content .navi-area a{
    text-decoration: none;
}
.special{
    background-color: #ff3300;
    padding: 10px 10px;
    border-radius: 15px;
}
.special span{
    color: #ffff00;
}
.special a{
    font-weight: bold;
    color: #0000ff;
    text-decoration: none;
}