/* this stylesheet contains the style that will remain constant across all the pages */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(0, 153, 255);
}
header{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #00ffa2;
}
footer{
    align-content: center;
    text-align: center;
}
